@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Poppins",Verdana, Geneva, Tahoma, sans-serif;
    }
    body {
        margin: 0;
    }
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
          monospace;
      }
}

.font {
    color: #fafafa;
}

.bg-img {
    background-image: url("../assets/image/bg.jpg"),
    linear-gradient(rgb(17, 24, 39), rgb(75, 85, 99));
    background-blend-mode: overlay;
}